@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: thesignature;
  src: url('../assets/fonts/Thesignature.ttf');
}

@font-face {
  font-family: unbounded;
  src: url('../assets/fonts/Unbounded.ttf');
}

@font-face {
  font-family: albert-sans;
  src: url('../assets/fonts/AlbertSans.ttf');
}

body {
  font-family: albert-sans;
  color: black;
  background: #faf9f5;
}

.header-signature {
  font-family: thesignature;
}

.header-unbounded {
  font-family: unbounded;
}
