@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: thesignature;
  src: url('../assets/fonts/Thesignature.ttf');
}

@font-face {
  font-family: unbounded;
  src: url('../assets/fonts/Unbounded.ttf');
}

@font-face {
  font-family: albert-sans;
  src: url('../assets/fonts/AlbertSans.ttf');
}

body {
  font-family: albert-sans;
  color: black;
  background: #faf9f5;
}

a {
  cursor: pointer !important;
}

.header-signature {
  font-family: thesignature;
}

.header-unbounded {
  font-family: unbounded;
}

.btn-outlined, .btn-solid {
  @apply border-2 rounded-full font-bold duration-200;
}

.btn-outlined.white {
  @apply border-white text-white;
}

.btn-outlined.green {
  @apply border-green text-green;
}

.btn-solid.white, .btn-outlined.hover-white:hover, .btn-solid.hover-white:hover {
  @apply border-white bg-white text-green;
}

.btn-solid.gold, .btn-outlined.hover-gold:hover, .btn-solid.hover-gold:hover {
  @apply border-gold bg-gold text-white;
}

.btn-solid.green, .btn-outlined.hover-green:hover, .btn-solid.hover-green:hover {
  @apply border-green bg-green text-white;
}

.btn-solid.dark-green, .btn-outlined.hover-dark-green:hover, .btn-solid.hover-dark-green:hover {
  @apply border-dark-green bg-dark-green text-white;
}
