.container {
  @apply flex justify-center px-4 h-[756px] xl:h-[810px] w-full relative;
  background-image: url('../assets/hero-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.content {
  @apply text-center sm:text-left w-full sm:!w-[610px];
}
.title {
  @apply text-[68px] sm:text-[112px] leading-none text-gold;
}
.subtitle {
  @apply text-2xl sm:text-5xl leading-none text-white -mt-2 sm:-mt-4 font-bold;
}
.description {
  @apply text-white text-base sm:text-[21px] sm:leading-7 mt-2
}